<form [formGroup]="form">
  <div class="panel">
    <div class="row">
      <div class="col">
        <ng-container *ngFor="let session of tableSessions">
          {{session.tableNumber}}  {{session.startDate}} - {{session.closeDate}}
          <div> К оплате:  {{session.totalPay}} </div>
          <div> Оплачено:  {{session.paidAmount}} </div>
          <div> Необходимо оплатить:  {{session.needToPay}} </div>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div> Оплачено:  {{totalPaidAmount}} </div>
        <div> К оплате:  {{totalPay}} </div>
        <div *ngIf="totalNeedToPay > 0"> Необходимо оплатить:  {{totalNeedToPay}} </div>
        <div *ngIf="return > 0"> Сдача:  {{return}} </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        Оплачено: <input type="number" formControlName="totalPaid">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-link" (click)="cancel()">
          Очистить
        </button>
        <!--        <button type="button" class="btn btn-success add-button" (click)="save()">
                  Добавить
                </button>-->
      </div>
    </div>
    <!-- </form>-->
  </div>
</form>
