<tr>
  <td>
    <button id="start" (click)="startSession()">
      Start timer
    </button>

    <button id="stop" (click)="closeSession()">
      Stop timer
    </button>

    <button id="add" (click)="addTime()">
      Add time
    </button>

    <button id="move" (click)="moveToAnotherTable()">
      Переместить
    </button>
  </td>
  <td>{{tableSession?.startDate}}</td>
  <td>{{tableSession?.endDate}}</td>
  <td>{{tableSession?.duration | time}}</td>
  <td>{{tableSession?.elapsedTime | time}}</td>
  <td>{{remainedTime | time}}</td>
  <td>{{totalMoney}}</td>
  <td>{{paidMoney}}</td>
  <td>{{needToPay}}</td>
  <td>{{spentMoney | money}}</td>
  <td>{{tableSession?.status}}</td>
</tr>

