<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: block;" aria-modal="true">
  <div class="modal-dialog wide-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Закупка</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="productBuyForm">
          <div class="row">
            <div class="col">
              <div class="row">
                <ng-container [formArrayName]="'productBuys'">
                  <div *ngFor="let productBuy of productBuysGroups;" [formGroup]="productBuy">
                    <div class="form-group">
                      <label for="product">Товар</label>
                      <select class="form-control" id="product" formControlName="product" [compareWith]="productId">
                        <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="amount">Кільксть</label>
                      <input formControlName="amount" type="number" id="amount" min="1" class="form-control">
                    </div>

                    <div *ngIf="moreThanOneProduct"
                         class="form-group">
                      <label class="small" for="unitPriceInYuan">Ціна за одиницю в юанях</label>
                      <input formControlName="unitPriceInYuan" type="number" min="0" id="unitPriceInYuan"
                             class="form-control">
                    </div>

                    <div class="form-group">
                      <label for="totalBuyPriceInUah">Розрахована ціна в грн</label>
                      <input formControlName="totalBuyPriceInUah" type="number" min="0" id="totalBuyPriceInUah"
                             class="form-control">
                    </div>

                    <div class="form-group">
                      <label for="comments">Коментарі</label>
                      <textarea formControlName="comments" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-primary" (click)="addProductBuy()">
                    <fa-icon [icon]="['fas', 'add']">Додати товар</fa-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="allProductsSameWeight"
                       formControlName="allProductsSameWeight">
                <label class="form-check-label" for="allProductsSameWeight">
                  Усі протукти однакової ваги
                </label>
              </div>

              <div class="form-group">
                <label for="purchase-totalBuyPriceInUah">Загальна ціна в грн </label>
                <input formControlName="totalBuyPriceInUah" type="number" min="0" id="purchase-totalBuyPriceInUah"
                       class="form-control">
              </div>

              <div
                   class="form-group">
                <label for="purchase-totalBuyPriceInUah">Загальна ціна в Юанях </label>
                <input formControlName="totalBuyPriceInYuan" type="number" min="0" id="purchase-totalBuyPriceInYuan"
                       class="form-control">
              </div>

              <div *ngIf="moreThanOneProduct"
                class="form-group  mt-2 mb-3">
                <fa-icon [icon]="['fas', 'calculator']" (click)="recalculatePrices()" class="fa-lg"></fa-icon>
                <div *ngIf="totalCalculatedForVerification > 0"> <small>Загальна розрахована вартість в грн: {{totalCalculatedForVerification}}</small></div>
                <div  *ngIf="yuanToUahRate > 0"><small>Курс Юань/Гривня: {{yuanToUahRate}}</small></div>
              </div>

              <div class="form-group">
                <label for="purchaseDate">Дата закупки</label>
                <input type="datetime-local" id="purchaseDate" class="form-control" formControlName="purchaseDate">
              </div>

              <div class="form-group">
                <label for="trackId">Поштовий трек-номер</label>
                <input formControlName="trackId" type="text" id="trackId" class="form-control">
              </div>
              <div class="form-group">
                <label for="name">Назва</label>
                <input formControlName="name" type="text" id="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="comments">Коментарі</label>
                <textarea formControlName="comments" id="comments" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">Відміна</button>
          <button type="button" class="btn btn-success" (click)="saveProduct()" [disabled]="!productBuyForm.valid">Зберегти
          </button>
        </div>
      </div>
    </div>
  </div>

