<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: block;" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <ng-container *ngTemplateOutlet="!parcel ? newParcel : editParcel"></ng-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Скасувати</button>
        <button type="button" class="btn btn-primary" [disabled]="!parcelForm.valid" (click)="save()">Зберегти</button>
      </div>
    </div>
  </div>
</div>

<ng-template #newParcel>
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">Створити посилку</h5>
  </div>
  <div class="modal-body">
    <form [formGroup]="parcelForm" novalidate>
      <div class="form-group">
        <label>Закупки:</label>
        <ng-container [formArrayName]="'parcelGroups'">
          <div *ngFor="let parcelGroupControl of parcelGroupsGroups;" [formGroup]="parcelGroupControl">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="selected">
              <label class="form-check-label">
                <div>{{ parcelGroupControl.get('product').value.name }}</div>
                <div><small>{{ parcelGroupControl.get('product').value.trackId }}</small></div>
                <div *ngIf="parcelGroupControl.get('product').value.trackId">
                  <small><label for="groupWeight">Вага групи</label></small>
                  <input type="number" class="form-control" id="groupWeight" formControlName="weight" min="0" placeholder="Введіть вагу">
                </div>
              </label>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="weight">Загальна вага</label>
        <input type="number" class="form-control" id="weight" formControlName="weight" placeholder="Введіть вагу">
      </div>
      <div class="form-group">
        <label for="deliveryPrice">Ціна доставки (грн)</label>
        <input type="number" class="form-control" id="deliveryPrice" formControlName="deliveryPrice"
               placeholder="Введіть ціну доставки">
      </div>
      <div class="form-group">
        <label for="startedDeliveryAt">Дата відправки</label>
        <input type="date" class="form-control" id="startedDeliveryAt" formControlName="startedDeliveryAt">
      </div>
      <div class="form-group">
        <label for="deliveredAt">Дата доставки</label>
        <input type="date" class="form-control" id="deliveredAt" formControlName="deliveredAt">
      </div>
      <div class="form-group">
        <label for="deliveryType">Тип доставки</label>
        <select class="form-control" id="deliveryType" formControlName="deliveryType">
          <option value="SEA">Море</option>
          <option value="AVIA">Авіа</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comments">Коментарі</label>
        <textarea class="form-control" id="comments" formControlName="comments" rows="3"></textarea>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editParcel>
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">Редагувати посилку</h5>
  </div>
  <div class="modal-body">
    <form [formGroup]="parcelForm" novalidate>
      <div class="form-group">
        <label>Вага</label>
        <p class="form-control-plaintext">{{ parcelForm.get('weight').value }}</p>
      </div>
      <div class="form-group">
        <label>Ціна доставки</label>
        <p class="form-control-plaintext">{{ parcelForm.get('deliveryPrice').value }}</p>
      </div>
      <div class="form-group">
        <label>Відправлено</label>
        <p class="form-control-plaintext">{{ parcelForm.get('startedDeliveryAt').value | date: 'mediumDate' }}</p>
      </div>
      <div class="form-group">
        <label for="deliveredAt">Отримано</label>
        <input type="date" class="form-control" id="deliveredAt" formControlName="deliveredAt">
      </div>
      <div class="form-group">
        <label>Тип доставки</label>
        <p class="form-control-plaintext">{{ parcelForm.get('deliveryType').value }}</p>
      </div>
      <div class="form-group">
        <label for="comments">Коментарі</label>
        <textarea class="form-control" id="comments" formControlName="comments" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label>Групи посилок</label>
        <div *ngFor="let group of parcel.parcelGroups">
          <p class="form-control-plaintext">{{ group.name }}</p>
        </div>
      </div>
    </form>
  </div>
</ng-template>
