<div class="panel">
  <h2 class="pb-2">Назначить время</h2>
  <form [formGroup]="form">

    <div class="row">
      <div class="col">
        Стол: {{table?.number}}
      </div>
    </div>

   <!-- <div class="btn-group btn-group-toggle" >
      <label  class="btn-primary">
        <input type="radio" [formControl]="tableNumber" [value]="1"> 1
      </label>

      <label  class="btn-primary">
        <input type="radio" [formControl]="tableNumber" [value]="2"> 2
      </label>

      <label  class="btn-primary">
        <input type="radio" [formControl]="tableNumber" [value]="3"> 3
      </label>

      <label  class="btn-primary">
        <input type="radio" [formControl]="tableNumber" [value]="4"> 4
      </label>

      <label  class="btn-primary">
        <input type="radio" [formControl]="tableNumber" [value]="5"> 5
      </label>

      <label  class="btn-primary">
        <input type="radio" [formControl]="tableNumber" [value]="6"> 6
      </label>
    </div>-->

    <div class="row">
      <div class="col">
 <!--       <app-client-search
          (clientSelected)="handleClientSelected($event)">
        </app-client-search>-->
      </div>
    </div>

    <div class="row">
      <div class="col">
          <div *ngFor="let client of clients.value">
              {{client.name}}
          </div>
      </div>
    </div>

    <app-duration-picker
      [predefinedTimeOptions]="times"
      [initialDuration]="Times.ONE_HOUR"
      [duration]="duration">
    </app-duration-picker>

    <div class="row">
      <div class="col-6">
        Начало сеанса: {{startTime}}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
       Конец сеанса: {{endTime}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        К оплате:  {{getTotalPaymentFormatted()}}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        Оплачено:  <input type="number" formControlName="paidAmount">
      </div>
      <div class="col-6">
        Оплачено:  <input type="checkbox" formControlName="paid">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn" (click)="cancel()">
          Отменить
        </button>
        <button type="button" class="btn btn-success add-button" (click)="save()">
          Начать сеанс
        </button>
      </div>
    </div>
  </form>
</div>
