<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="durationModel">
  <label ngbButtonLabel class="btn-warning" *ngFor="let time of times">
    <input ngbButton type="radio" [value]="time" (click)="setDuration(time)"> {{time.description}}
  </label>
</div>

{{durationModel | json }}

<div class="row">
  <div class="col">
    <ngb-timepicker
      [(ngModel)]="durationModel"
      [minuteStep]="5"
      (ngModelChange)="setDuration($event)">
    </ngb-timepicker>
  </div>
</div>
