<form [formGroup]="durationPickerForm">
  <div class="btn-group" >
    <ng-container *ngFor="let time of predefinedTimeOptions; let i = index">
      <input type="radio" class="btn-check" [value]="time" [formControl]="radioOptionDuration" id="timeOptions_{{i}}">
      <label class="btn btn-outline-primary" for="timeOptions_{{i}}"> {{time.description}} </label>
    </ng-container>
  </div>

  <div class="row">
    <div class="col">
      <ngb-timepicker
        [formControl]="ngbTimePickerDuration"
        [minuteStep]="5">
      </ngb-timepicker>
    </div>
  </div>
</form>

<!--
{{duration.value | json }}
-->
