<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: block;" aria-modal="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Нова продажа ракетки</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
<!--          <div class="row">
            <div class="col">
          <ng-container *ngTemplateOutlet="racketInfo"></ng-container>
            </div>
            </div>-->

          <div class="row" *ngIf="currentStep == FlowSteps.SELECT_BLADE">
            <div class="col">
              <div class="form-group">
                <h2>Виберіть основу</h2>
                <div class="row mb-2" *ngFor="let blade of blades; let i = index">
                    <div class="col">
                      <input type="radio" class="btn-check" [value]="blade" formControlName="blade" id="bladeItem_{{i}}">
                      <label class="btn btn-outline-primary w-100" for="bladeItem_{{i}}"> {{blade.product.name}}</label>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="currentStep == FlowSteps.SELCT_RUBBER1">
            <div class="col">
              <div class="form-group">
                <h2>Виберіть накладку 1</h2>
                  <div class="row mb-2" *ngFor="let rubber of rubbers; let i = index">
                    <div class="col">
                    <input type="radio" class="btn-check" [value]="rubber" formControlName="rubber1" id="rubber1Item_{{i}}">
                    <label class="btn btn-outline-primary w-100" for="rubber1Item_{{i}}"> {{rubber.product.name}} </label>
                    </div>
              </div>
          </div>
          </div>
          </div>

          <div class="row" *ngIf="currentStep == FlowSteps.SELCT_RUBBER2">
            <div class="col">
              <div class="form-group">
                <h2>Виберіть накладку 2</h2>
                  <div class="row mb-2" *ngFor="let rubber of rubbers; let i = index">
                    <div class="col">
                    <input type="radio" class="btn-check" [value]="rubber" formControlName="rubber2" id="rubber2Item_{{i}}">
                    <label class="btn btn-outline-primary w-100" for="rubber2Item_{{i}}"> {{rubber.product.name}} </label>
                    </div>
                </div>
            </div>
          </div>
          </div>

          <div class="row" *ngIf="currentStep == FlowSteps.SET_PRICE">
            <div class="col">
              <div class="form-group">
                <label for="sellPrice">Вкажіть ціну ракетки (грн)</label>
                <input type="number" id="sellPrice" class="form-control" formControlName="sellPrice">
              </div>
            </div>
          </div>


          <div class="row" *ngIf="currentStep == FlowSteps.CONFIRM">
            <div class="col">
              <div class="form-group">
                <label>Підтвердіть дані</label>
                <ng-container *ngTemplateOutlet="racketInfo"></ng-container>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="currentStep == FlowSteps.FINAL">

            <div class="col">
              <div class="form-group">
                 <h2 *ngIf="success" class="text-success">Ракетка успішно додана</h2>
                  <h2 *ngIf="error" class="text-danger">Помилка</h2>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">

          <button *ngIf="currentStep != FlowSteps.CONFIRM && currentStep != FlowSteps.FINAL"
            type="button"
            class="btn btn-primary"
            [disabled]="!currentStepValid" (click)="nextStep()">Далі</button>

        <button *ngIf="currentStep == FlowSteps.CONFIRM"
                type="button" class="btn btn-danger" [disabled]="!currentStepValid" (click)="reload()">Відмінити та почати заново</button>

          <button *ngIf="currentStep == FlowSteps.CONFIRM"
            type="button" class="btn btn-success" [disabled]="!currentStepValid" (click)="save()">Дані правильні - додати ракетку</button>
      </div>
    </div>
  </div>
</div>

<ng-template #racketInfo>
  <div>Основа :{{editForm.get('blade')?.value?.product?.name}}</div>
  <div>Накладка 1: {{editForm.get('rubber1')?.value?.product?.name}}</div>
  <div>Накладка 2: {{editForm.get('rubber2')?.value?.product?.name}}</div>
  <div>Ціна: {{editForm.get('sellPrice')?.value}}</div>
</ng-template>
