<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: block;" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Нова продажа</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <div class="form-group">
            <label for="productUnitId">Продукт</label>
            <select id="productUnitId" class="form-control" formControlName="product" [compareWith]="productId">
              <option *ngFor="let unit of productUnits" [ngValue]="unit.product">
                {{ unit.product.name }}  ({{unit.amountToSell}})
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="sellPrice">Ціна продажу за штуку (грн)</label>
            <input type="number" id="sellPrice" class="form-control" formControlName="sellPrice">
          </div>

          <div class="form-group">
            <label for="sellPrice">Кількість</label>
            <input type="number" id="amountToSell" class="form-control" formControlName="amountToSell">
          </div>
<!--          <div class="form-group">
            <label for="productSaleGroupId">Product Sale Group</label>
            <select id="productSaleGroupId" class="form-control" formControlName="productSaleGroupId">
              <option *ngFor="let group of productSaleGroups" [value]="group.id">{{ group.name }}</option>
              &lt;!&ndash; Adjust according to your data structure &ndash;&gt;
            </select>
          </div>-->
          <div class="form-group">
            <label for="soldAt">Дата продажу</label>
            <input type="datetime-local" id="soldAt" class="form-control" formControlName="soldAt">
          </div>

          <div class="form-group">
            <label for="comments">Коментарі</label>
            <input type="text" id="comments" class="form-control" formControlName="comments"
                   placeholder="Enter Comments">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Відміна</button>
        <button type="button" class="btn btn-primary" [disabled]="!editForm.valid" (click)="save()">Зберегти</button>
      </div>
    </div>
  </div>
</div>
