<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: block;" aria-modal="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Нова продажа ракетки</h4>
        {{ editForm.value | json }}
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <div class="row">
            <ng-container [formArrayName]="'productSales'">
              <div class="col">
                <sale-group
                  [productSalesArray]="productSales"
                  [amountToSell]="1"
                  [productUnits]="blades"
                  [category]="TradesProductCategory.BLADE">
                </sale-group>
              </div>

              <div class="col">
                <sale-group
                  [productSalesArray]="productSales"
                  [amountToSell]="1"
                  [productUnits]="rubbers"
                  [category]="TradesProductCategory.RUBBER">
                </sale-group>
              </div>
            </ng-container>

            <div class="col">
              <div class="form-group">
                <label for="soldAt">Дата продажу</label>
                <input type="datetime-local" id="soldAt" class="form-control" formControlName="soldAt">
              </div>

              <div class="form-group">
                <label for="comments">Коментарі</label>
                <textarea id="comments" formControlName="comments" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 mx-auto">
              <sale-group
                [productSalesArray]="productSales"
                [amountToSell]="1"
                [productUnits]="rubbers"
                [category]="TradesProductCategory.BLADE">
              </sale-group>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Відміна</button>
        <button type="button" class="btn btn-primary" [disabled]="!editForm.valid" (click)="save()">Зберегти</button>
      </div>
    </div>
  </div>
</div>
