<table class="table">
  <thead>
  <tr>
    <th>Редагувати</th>
    <th>Продукт</th>
    <th>Загальна ціна (грн)</th>
    <th>Кількість</th>
    <th>Ціна за одиницю</th>
    <th>Дата закупки</th>
    <th>Поштова інформація</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let productBuy of productBuys">
    <td>
      <button class="btn btn-light" (click)="onEdit(productBuy)">
        <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
      </button>
    </td>
    <td>{{ productBuy.product.name }} ({{productBuy.amount}})</td>
    <td>{{ productBuy.totalBuyPriceInUah }}</td>
    <td>{{ productBuy.amount }}</td>
    <td>{{ productBuy.unitPrice }}</td>
    <td>{{ productBuy.purchaseDate }}</td>
    <td>
      <ng-container *ngIf="productBuy.parcelGroupId">
        <div><small>Трек: {{ productBuy.trackId }}</small></div>
        <div [ngClass]="{'text-success': productBuy.parcelId, 'text-info': !productBuy.parcelId}">
          <small>Відправлено: {{ !productBuy.parcelId ? 'Ні' : 'Так' }}</small>
        </div>
      </ng-container>

      <ng-container *ngIf="!productBuy.parcelGroupId">
        <small class="text-warning">Окрема закупка</small>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
